.form {
	padding: 60px 30px;
	border-radius: 6px;
	border: 1px solid #ff5555;
	background-color: #1d2625;
	color: white;
	box-shadow: 0 0px 15px 5px #1d2625;

	form {

		display: flex;

		.input-group {
            width: 200px;
            height: 40px;
			position: relative;
			border-radius: 6px;
			padding: 0 5px;
			background-color: white;
			flex-grow: 1;

			display: flex;

			&:first-child {
				margin-right: 15px;
			}

			.label {
				opacity: 1;
				position: absolute;
				bottom: 50px;
			}

			.input-field {
                margin: auto 0;
                width: 100%;
				font-size: 15px;
				border-radius: 6px;
				border: none;
				outline: none;
				background-color: white;
				color: black;
			}

			.euro {
				margin-left: 6px;
			}
		}

		.invert-button {
			outline: none;
			font-weight: bold;
			font-size: 25px;
			height: 40px;
			cursor: pointer;
            
			line-height: 40px;
			width: 40px;
			text-align: center;
			background: none;
			color: white;
			margin: 0 5px;
		}

		.submit-button {
			outline: none;
			font-weight: bold;
			font-size: 25px;
			height: 40px;
			cursor: pointer;
            
			min-width: 40px;
			background-color: #50fa7b;
			border: none;
			border-radius: 6px;
			color: #1d2625;
			margin-left: 15px;
		}
	}
}

@media only screen and (max-width: 900px) {
	.form {

		form {
			flex-direction: column;

			.input-group {
                margin-bottom: 5px;
                width: 100%;
                min-with:200px;

				&:first-child {
					margin-right: 0px;
				}

				&:nth-child(2) {
					margin-bottom: 0px;
                }

				.label {
					display: none;
				}
			}

			.invert-button {
				margin: auto;
				transform: rotate(90deg);
			}

			.submit-button {
				margin: 0px;
			}
		}
	}
}
